<div class="c-inputs-stacked">

    {% for value, option in field_type.options %}

        <label class="c-input c-checkbox">
            <input
                    type="checkbox"
                    value="{{ value }}"
                    name="{{ field_type.input_name }}[]"
                    {{ value in field_type.config.disabled ? 'disabled' }}
                    {{ value in field_type.value ? 'checked' }}>

            <span class="c-indicator"></span>

            {{ trans(option) }}
        </label>

    {% endfor %}

</div>
